/* Define colors */
:root {
    --background: #111E25;
    --dark: #111;
    --primary: #bb1515;
  }
  
  /* General body styles */
  body {
    font-family: "JetBrains Mono",monospace;
    padding: 10pt;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(8,8,15,1) 35%, rgba(22,11,18,1) 100%);
    color: #fff;
  }
  
  /* Headings styles */
  h1 {
    font-size: 18pt;
    color: #ffffff;
    text-align: center;
  }

  h1, h2, h3 {
    font-size: 18pt;
    color: #ffffff
  }
  
  /* Form elements */
  label, input, button {
    display: block;
    margin-bottom: 10pt;
  }
  
  input[type="text"],
  input[type="url"] {
    width: calc(67% - 22pt);
    padding: 5pt;
    background: transparent;
    border: 1pt solid #fdb0b0;
    color: #fff;
  }
  
  button {
    padding: 5pt;
    cursor: pointer;
    background-color: var(--primary);
    border: none;
    color: #fff;
    box-shadow: 0 3pt 5pt 1pt rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: darken(var(--primary), 10%);
  }

  .button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);}
  
  /* Hotkey list items */
  .hotkey-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primary);
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  
  /* Checkbox styles */
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  /* List styles */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  